{% extends 'Base.html' %}
{% load static %}

{% block title %}Artigos Recentes{% endblock %}

{% block content %}
<div class="row">
    {% for post in posts %}
    <div class="col-md-4">
        <div class="card mb-4">
            {% if post.imagem %}
            <img src="{{ post.imagem.url }}" class="card-img-top img-fluid" alt="{{ post.titulo }}" style="width: 100%; height: 450px; object-fit: cover;">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ post.titulo }}</h5>
                <p class="card-text">{{ post.subtitulo }}</p>
                <p class="text-muted">{{ post.data_publicacao }}</p>
                <a href="{% url "Post" id=post.id %}" class="btn btn-primary">Ler mais</a>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>
{% endblock %}
